#Contact{
    background-color:  rgb(8, 27, 41,0.1);
    height: auto;
    padding: 55px 0px;
    color: white;
}
.ContactBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ContactBox h1{
    margin: 20px 0;

    text-align: center;
}
.form{
    height: 7vh;
    width: 63vw;
    margin: 2%;  
    padding: 15px;
    border: 2px solid #112e42;
    border-radius: 50px;
    box-shadow: 0px 0px 18px#00abf0;
}
.ContactBox textarea{
    height: 20vh;
}
.buttons{
    width: 64%;   
}
#submit{
    margin: 15px;
}
@media screen and (max-width: 915px
){
    
    .form{
        width: 85vw;
    }
    .buttons{
        width: 95%;   
    }
}
