#Home{
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 95vh;
    background-color: #081b29;
    padding: 25px;
    
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 50vw;
    height: 70vh;
    
}

.info h1{
    height: 5vh;
    margin: 15px 0px;
    text-align: center;
}
.info p{
    color: #00abf0;
}
.para{
    font-size: 0.8rem;
}

.info div a i{
    margin: 15px;
    color: white;
    box-shadow: 0px 0px 18px#00abf0;
}
.Profile{
    margin: 10px;
    margin-top: 50px;
    width: 30vw;
    height: 50vh;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    color: white;
    width: 25vw;
    height: 50vh;
}
.profile-photo img{
    box-shadow: 0px 0px 25px#00abf0;
    border-radius: 15%;
    width: 70%;
}
.profile-photo h1{
    margin-top: 15px;
    text-align: center;
    
}
.BtnBox{
    width: 100%;
}

.btn-p{
    background-color: #00abf0;
    color: white;

}
.btn-p:hover{
    background-color: transparent;
    border: 2px solid #00abf0;

}
.btn-s{
    background-color: transparent;
    border: 2px solid #00abf0;
    color: white;;

}
.btn-s:hover{
    background-color: #00abf0;

}

@media screen and (max-width : 915px) {
    #Home{
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .info{
        width: 100vw;
    }
    .info p{
        width: 90vw;
    }
    .info h1{
        height: 6vh;
        width: 100vw;

    }
    .Profile{
        margin-top: 25px;
        width: 100%;
        height: 100%;
    }
    .profile-photo{
        height: 100%;
        width: 100%;
    }
    .profile-photo img{
        height: 35vh;
        width: auto;
        
    }
    .profile-photo h1{
       
        font-size: 1.3rem;
    }
    
    .btn{
        width: 30vw;
        height: 5vh;
        border-radius: 10%;
        cursor: pointer;
    }
    
}
