#Home{
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 95vh;
    background-color: #081b29;
    
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 50vw;
    height: 70vh;
    
}
.info h1{
    margin: 15px 0px;
    text-align: center;
}
.info div a i{
    color: white;
}
.Profile{
    margin: 10px;
    width: 30vw;
    height: 50vh;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profile-photo{
    height: 40vh;
    width: 20vw;
    color: white;
}
.profile-photo img{
    width: 20vw;
    height: 40vh;
    border-radius: 100%;
}
.profile-photo h1{
    text-align: center;
}
.btn{
    width: 8vw;
    height: 4vh;
    border: #081b29;
    border-radius: 10%;
    cursor: pointer;
}
.btn-p{
    background-color: #00abf0;
    color: white;

}
.btn-p:hover{
    background-color: transparent;
    border: 2px solid #00abf0;

}
.btn-s{
    background-color: transparent;
    border: 2px solid #00abf0;
    color: white;;

}
.btn-s:hover{
    background-color: #00abf0;

}

@media screen and (max-width : 900px) {
    #Home{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .profile-photo{
        height: 30vh;
        width: 60vw;
        margin-bottom:80%;
    }
    .profile-photo img{
     height: 30vh;
     width: 60vw;
    }
    
}
/* Utility */
 .m5{
        margin: 5px
    }