.NavbarContainer{
    position: sticky;
    top: 0;
    background-color:  #081b29;
    z-index: 1;

}
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    
    
}
.hum{
    position: relative;
    right: -8%;
    margin-left: 0;
    margin-top: 18px;
    margin-right: 15px;
    display:none;
    
}

.Navbar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    color: white;
}
.left{
    margin: 15px;
    height: auto;
    width: 55vw;
}
.right{
    display: flex;
    align-items: center;    
    transition: 0.3s ease-in-out;
}

.right ul{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    list-style: none;
   
}
.right ul li a{
    display:inline-block;
    width: 5vw;
    color: white;
    text-decoration: none;
}
.right ul li a:hover,.right ul li a.active{
    font-size: 1.1rem;
    color: #00abf0;
}


        /* Reponsive */

@media screen and (max-width: 915px
){  .Navbar{
        flex-direction: column;
        width: 95vw;
        height: auto;
        opacity: 0.9;
        
    }
    .right{
        display: block;
        position: relative;
        left: -100%;
        height: 1vh;
        overflow:hidden;
        /* visibility: hidden; */

    }
    .right.display{
        display: flex;
        height: 24vh;
        left: 0;
        /* visibility: inherit; */
    }
  
    .right ul{
        width: 100%;
        flex-direction: column-reverse;
        height: 24vh;
        
    }
    .right ul a{
        margin: 5px 0px;
        height: 20px;
        

    }
    .hum{
        display:block;
        right: 0;
    }
    
    .hum i{
       color: white;
       font-size: 1.5rem;
    
    }
   

    
}