#Project{
    background-color: #112e42;
    height: 95vh;
    padding: 0px 55px;
    padding-top: 55px;
    color: white;
}
#Project h1{
    text-align: center;
}
.CardBox{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 45vh 45vh;
    margin-top: 10px;
    width: 100%;
}
.cards{
    margin: auto;
    width: 20vw;
    height: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid #112e42;
    border-radius: 50px;
    box-shadow: 0px 0px 18px#00abf0;
}
.cards img{
    height: 20vh;
    border-radius: 30px;
}
.cards h2{
  text-align: center; 
}
.CardBtn{
    margin: 15px ;
   display: flex;
}
@media screen and (max-width: 915px
){
    #Project{
        height: auto;
        padding: 10px;
    }
    .CardBox{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 50vh 50vh;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
    .cards{
        width: 80vw;
        height: 30vh;
        
    }
    .CardBtn{
       margin: 10px auto;
       display: flex;
    }
}