#Project{
    background-color:  rgb(8, 27, 41,0.2);
    backdrop-filter: blur(8px);
    height: auto;
    padding: 25px 55px;
    padding-top: 55px;
    color: white;
}
#Project h1{
    text-align: center;
    margin: 20px 0;
}
.CardBox{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 45vh 45vh;
    gap: 2rem;
    margin-top: 30px;
    width: 100%;
}
.cards{
    margin: auto;
    width: 20vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #112e42;
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    box-shadow: 0px 0px 18px#00abf0;
}
.ImgBox{
    border-radius: 50px;
    overflow: hidden;
    height: 28vh;
    width: 100%;
}
.cards .ImgBox img{
    height: 28vh;
    border-radius: 30px;
    transition: 0.3s ease;
}
.cards img:hover{
    transform: scale(1.1);
}
.cards h3{
    margin-top: 15px;
  text-align: center; 
}
.CardBtn{
    margin: 15px ;
   display: flex;
}
@media screen and (max-width: 915px
){
    #Project{
        height: auto;
        padding: 30px 10px;
    }
    #Project h1{
        margin-top: 40px;
    }
    
    .CardBox{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 50vh 50vh;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
    .cards{
        width: 80vw;
    }
    .CardBtn{
       margin: 10px auto;
       display: flex;
    }
}