#Skills{
    text-align: center;
    padding: 60px 0px;
    height: 85vh;
    background-color: #081b29;
    color: white;

    
}

.items{
    margin: 40px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 45vw 45vw; 
    grid-template-rows: 30vh 30vh; 
    gap: 10px;
    
}
.items div{
   
    text-align: center;

}
.items h5{
   margin-bottom:15px ;
    font-size: 1.1rem;
    display: block;
}
.progess{
    height: 3vh;
    width: 30vw;
    border: 2px solid #081b29;
    box-shadow: 0px 0px 10px#00abf0;
    /* border-radius: 50px; */

    
}
progress::-webkit-progress-value {
    background-color: #00abf0;
    color: white;
 }


@media screen and (max-width: 915px
){
    #Skills{
        
        height: 100vh;

        
    }
    .items{
        grid-template-columns: 90vw;
        grid-template-rows: 15vh 15vh 15vh 15vh 15vh auto;
    }
    .progess{
        width: 80vw;
    }
}