#Skills{
    text-align: center;
    padding: 60px 0px;
    height: auto;
    background-color:  rgb(8, 27, 41,0.1);
    backdrop-filter: blur(8px);
    overflow: hidden;

    
}
#Skills h1{
    margin-top: 20px;
}

.items{
    margin: 40px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 45vw 45vw; 
    grid-template-rows: 30vh 30vh; 
    gap: 10px;
    
}
.items div{
   
    text-align: center;

}
.items h5{
   margin-bottom:15px ;
    font-size: 1.1rem;
    display: block;
}
.progess{
    width: 45vw;    
}



@media screen and (max-width: 915px
){
    #Skills{
        
        height: 100vh;

        
    }
    .items{
        grid-template-columns: 90vw;
        grid-template-rows: 15vh 15vh 15vh 15vh 15vh auto;
    }
    .progess{
        width: 90vw;
    }
}